{% import "@SyliusAdmin/Common/Macro/money.html.twig" as money %}

<div class="ui hidden divider"></div>

<div class="ui segment">
    <h2>{{ 'monsieur_biz_sales_reports.ui.day_report_for'|trans({'%date%': date|date("d/m/Y"), '%channel%': channel.name}) }}</h2>
    {{ form_row(form.date) }}
    <div class="ui basic segment">
        <table class="ui celled table">
            <thead>
            <tr>
                <th>{{ 'monsieur_biz_sales_reports.view.amount_without_tax' | trans }}</th>
                <th>{{ 'monsieur_biz_sales_reports.view.promo_amount_without_tax' | trans }}</th>
                <th>{{ 'monsieur_biz_sales_reports.view.shipping_amount_without_tax' | trans }}</th>
                <th>{{ 'monsieur_biz_sales_reports.view.tax_amount' | trans }}</th>
                <th>{{ 'monsieur_biz_sales_reports.view.total_amount' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% dump(totalSalesResult) %}
                <tr>
                    <td>{{ money.format(totalSalesResult.without_tax_total, channel.baseCurrency.code) }}</td>
                    <td>{{ money.format(totalSalesResult.without_tax_promo_total, channel.baseCurrency.code) }}</td>
                    <td>{{ money.format(totalSalesResult.without_tax_shipping_total, channel.baseCurrency.code) }}</td>
                    <td>{{ money.format(totalSalesResult.tax_total, channel.baseCurrency.code) }}</td>
                    <td>{{ money.format(totalSalesResult.total, channel.baseCurrency.code) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
