{% import "@SyliusAdmin/Common/Macro/money.html.twig" as money %}

<h3>{{ 'monsieurbiz.sales_reports.ui.global_report'|trans }}</h3>
<table class="ui celled table">
    <thead>
    <tr>
        <th>{{ 'monsieurbiz.sales_reports.view.amount_without_tax' | trans }}</th>
        <th>{{ 'monsieurbiz.sales_reports.view.promo_amount_without_tax' | trans }}</th>
        <th>{{ 'monsieurbiz.sales_reports.view.shipping_amount_without_tax' | trans }}</th>
        <th>{{ 'monsieurbiz.sales_reports.view.tax_amount' | trans }}</th>
        <th>{{ 'monsieurbiz.sales_reports.view.total_amount' | trans }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ money.format(total_sales_result.without_tax_total, channel.baseCurrency.code) }}</td>
        <td>{{ money.format(total_sales_result.without_tax_promo_total, channel.baseCurrency.code) }}</td>
        <td>{{ money.format(total_sales_result.without_tax_shipping_total, channel.baseCurrency.code) }}</td>
        <td>{{ money.format(total_sales_result.tax_total, channel.baseCurrency.code) }}</td>
        <td>{{ money.format(total_sales_result.total, channel.baseCurrency.code) }}</td>
    </tr>
    </tbody>
</table>
