{% import "@SyliusAdmin/Common/Macro/money.html.twig" as money %}

<h3>{{ 'monsieurbiz.sales_reports.ui.product_variant_report'|trans }}</h3>
<table class="ui celled table sortable">
    <thead>
    <tr>
        <th>{{ 'monsieurbiz.sales_reports.view.product_variant_name'|trans }}</th>
        <th>{{ 'monsieurbiz.sales_reports.view.number_of_orders'|trans }}</th>
        <th>{{ 'monsieurbiz.sales_reports.view.amount_without_tax' | trans }}</th>
        <th>{{ 'monsieurbiz.sales_reports.view.promo_amount_without_tax' | trans }}</th>
        <th>{{ 'monsieurbiz.sales_reports.view.shipping_amount_without_tax' | trans }}</th>
        <th>{{ 'monsieurbiz.sales_reports.view.tax_amount' | trans }}</th>
        <th>{{ 'monsieurbiz.sales_reports.view.total_amount' | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {%  if product_variant_sales_result|length > 0 %}
        {% for result in product_variant_sales_result %}
            <tr>
                <td>{{ result.variant_name }}</td>
                <td>{{ result.number_of_elements }}</td>
                <td>{{ money.format(result.without_tax_total, channel.baseCurrency.code) }}</td>
                <td>{{ money.format(result.without_tax_promo_total, channel.baseCurrency.code) }}</td>
                <td>{{ money.format(result.without_tax_shipping_total, channel.baseCurrency.code) }}</td>
                <td>{{ money.format(result.tax_total, channel.baseCurrency.code) }}</td>
                <td>{{ money.format(result.item_row_total, channel.baseCurrency.code) }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>{{ 'monsieurbiz.sales_reports.view.no_result'|trans }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
